{
    "settings": {
        "hostname": "",
        "defaultCode": "#! This is the plot's title\n\n# imports (change them as you want)\nfrom bokeh.plotting import figure\nfrom bokeh.models import HoverTool, ColumnDataSource, LinearColorMapper, LogColorMapper, ColorBar\nimport numpy as np\nimport pandas as pd\n\n# the path of a dataset can be accessed via datapath['<name of dataset>']\nfrom data import datapath\n\ndef make_document(doc):\n    #create your plot here and finish this function by calling doc.add_root(<your plot>)"
    },
    "logins": [
        {
            "name": "admin",
            "password": "$2a$10$Ijo5dvso2T258qYqFLFHVOcAYECA63M9KK0/E4QJJxG2zpLM1zaqK",
            "admin": true
        }
    ],
    tokens: {} 
}